{% extends "shop/base.html" %}

{% block title %}Форма входа{% endblock %}

{% block content %}
  <h1>Войти</h1>
  {% if form.errors %}
    <p>Ваши логин и пароль не совпадают. Повторите ввод ещё раз.</p>
  {% else %}
    <p>Заполните форму для того, чтобы войти на сайт:</p>
  {% endif %}
  <div class="login-form">
    <form action="{% url 'login' %}" method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
      <p><input type="submit" value="Log-in"></p>
    </form>
  </div>
{% endblock %}