{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Магазик{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <div id="header">
        <a href="/" class="logo">Магазик</a>
              <span class="user">
                {% if request.user.is_authenticated %}
                  Здравствуйте, {{ request.user.first_name }},
                  <a href="{% url 'logout' %}">Выйти</a>
                {% else %}
                  <a href="{% url 'login' %}">Войти</a>
                {% endif %}
              </span>
    </div>
    <div id="subheader">
        <div class="cart">
            {% with total_items=cart|length %}
                {% if cart|length > 0 %}
                    В корзине:
            <a href="{% url 'cart:cart_detail' %}">
                {{ total_items }} шт,${{ cart.get_total_price }}
            </a>
                {% else %}
                    Корзина пуста
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <div id="content">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>